# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.
# This workflow will build a Java project with Gradle and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-java-with-gradle

name: Java CI with Gradle

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: read

    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 18
        uses: actions/setup-java@v4
        with:
          java-version: '18'
          distribution: 'temurin'

      # Configure Gradle for optimal use in GitHub Actions, including caching of downloaded dependencies.
      # See: https://github.com/gradle/actions/blob/main/setup-gradle/README.md
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@af1da67850ed9a4cedd57bfd976089dd991e2582 # v4.0.0
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Build with Gradle Wrapper
        env:
          GPR_USER: ${{ github.actor }}
          GPR_TOKEN: ${{ secrets.GH_PACKAGES_READ_TOKEN }}


        run: ./gradlew build -x test


  integration_tests:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: read
    steps:
      - uses: actions/checkout@v4
  
      - name: Set up JDK 18
        uses: actions/setup-java@v4
        with:
          java-version: '18'
          distribution: 'temurin'
  
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@af1da67850ed9a4cedd57bfd976089dd991e2582
  
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
  
      - name: Pull latest WireMock image
        run: docker pull wiremock/wiremock:latest
  
      - name: Start a WireMock server for mocked REST api
        run: |
          docker run -d --name wiremock-mocked-rest-api -p 8089:8089 \
            -v $GITHUB_WORKSPACE/lib/src/test/resources/mappings:/home/wiremock/mappings \
            wiremock/wiremock:latest --port 8089 --verbose
  
      - name: Run Tests
        env:
          GPR_USER: ${{ github.actor }}
          GPR_TOKEN: ${{ secrets.GH_PACKAGES_READ_TOKEN }}

        run: ./gradlew clean test --info -DrunWithMetatest=true
